@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar-hide";

@theme {
  --color-blue-50: #F4FAF9;
  --color-blue-100: #e0f4f2;
  --color-blue-200: #7FD8D1;
  --color-blue-300: #7FD8D1;
  --color-blue-400: #3EC4B3;
  --color-blue-500: #3EC4B3;
  --color-blue-600: #2CB1A1;
  --color-blue-700: #2CB1A1;
  --color-blue-800: #147D73;
  --color-blue-900: #0F655C;
}